[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
mypy = "*"
"autopep8" = "*"
"flake8" = "*"
pytest = "*"
isort = "*"
scipy = "*"
pandas = "*"
xlrd = "*"
pytest-timeout = "*"
bugjar = "*"
openpyxl = "*"

[requires]
python_version = "3.6"
